<h2>La réservation a bien été créé.</h2>
<br><br>
<p><strong>Numéro de catway : </strong><%= reservation.catwayNumber %></p>
<p><strong>Client : </strong><%= reservation.clientName %></p>
<p><strong>Bâteau : </strong><%= reservation.boatName %></p>
<p><strong>Date d'entrée : </strong><%= reservation.checkIn %></p>
<p><strong>Date de sortie : </strong><%= reservation.checkOut %></p>
<p><strong>Id : </strong><%= reservation._id %></p>
<br>
<input type="button" value="Retour" onclick="history.back()">